<h1>投稿を作る</h1>
<hr>
<%= form_for @post do |f| %>
  <p>名前</p>
  <%= @user.family_name %><%= @user.first_name %>
  <p>内容</p>
  <%= f.text_area :content, :class => "form-control" %>
  <p>場所</p>
  <%= f.text_field :place, :class => "form-control" %>
  <br>
  <%= f.submit "登録する", :class => "btn btn-primary" %>
<% end %>
<br><br>
<a href="/posts/" class="btn btn-info">トップに戻る</a>
