<h1>投稿</h1>
<p><%= @post.id %></p>
<p><%= @post.name %></p>
<p><%= @post.content %></p>
<p><%= @post.place %></p>
<br><br><br>
<a href="/posts/<%= @post.id %>/edit/">投稿を変更する</a>
|
<a href="/posts/<%= @post.id %>" data-method="delete">投稿を削除する</a>
|
<a href="/posts/">トップに戻る</a>
